<!DOCTYPE html>
<html lang="en" ng-app="myApp">
  <head>
    <meta charset="utf-8">
    <title>Tin Roof To Do App</title>
    <link rel='stylesheet' href="style.css">
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.0/angular.min.js"></script>
  </head>
  <body ng-controller="mainController">
  	<div class="input-group">
	  <input type="text" class="form-control" ng-model="newToDo" >
	  <span class="input-group-btn">
	    <button class="btn btn-primary" ng-click="add()" style="vertical-align:top;" type="button">Add To Do Item!</button>
	  </span>
	</div>
	<div>
		<div class="input-group">
		  <input type="text" class="form-control" ng-model="newToDo" >
		  <span class="input-group-btn">
		</div>
		<div ng-repeat="toDo in toDos track by $index" ng-if="toDos && toDos.length" class="todo">
  			<div ng-cloak style="float:left;" ng-cloak> {{toDo.name}}</div>
  			<span class="input-group-btn">
		    	<button class="btn btn-warning edit" ng-click="edit($index, toDo)" style="vertical-align:top;" type="button">Edit</button>
		  	</span>
		  	<span class="input-group-btn">
		    	<button class="btn btn-primary" ng-click="delete($index, toDo)" style="vertical-align:top;" type="button">Delete</button>
		  	</span>
			<input ng-model="editTodo" type="text" class="form-control">
	  	</div>
  	</div>
    <script src="scripts/script.js"></script>
  </body>
</html>