.left {
	float:left; 
}

.add-to-do {
	margin-left:20px;
	margin-top:50px;
	margin-bottom:50px;
}

#add-button {
	margin-bottom:11px;
}

.top-align {
	vertical-align:top;
}

.todos {
	margin-left:50px;
}

.todo-name {
	width:450px;
}

.edit-button {
	margin-left:10px;
	margin-right:10px;
}